/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*GENERAL*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(223, 223, 223);
    line-height: 45px;
}
/*HEADER*/
header {
    padding: 15px;
    background-color: white;
}
header img {
    vertical-align: middle;
}
header h1 {
    display: inline;
    font-weight: 900;
    vertical-align: middle;
    font-size: 40px;
}
/*MAIN*/
main {
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
}
main div {
    padding: 20px;
}
main div a {
    background-color: rgb(34, 104, 255);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(34, 104, 255);
    margin-left: 30px;
}
.second-A {
    background-color: white;
    color: gray;
    border: 1px solid gray;
    margin-left: 3px;
}
/*SECTION*/
section {
    border-top: 2px solid rgb(223, 223, 223);
    padding: 30px;
}
section ul {
    list-style-type: none;
    margin-bottom: 15px;
}
section span {
    vertical-align: middle;
    font-size: 10px;
}

section h3 {
    vertical-align: middle;
    display: inline;
    font-size: 24px;
}
/*IMPOSTAZIONI SECTION ; ICONS & BUTTON*/
.spuntaVerde {
    color: green;
    border: 1px solid green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 15px;
    display: inline-block;
    line-height: 18px;
    text-align: center;
}
.xRossa {
    color: red;
    border: 1px solid red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 15px;
    display: inline-block;
    line-height: 18px;
    text-align: center;
}
.button {
    padding: 8px;
    color: white;
    font-size: 12px;
    border-radius: 25px;
}
.btnBlue {
    background-color: rgb(34, 148, 255);
}
.btnViola {
background-color: blueviolet;
}
.btnAcqua {
    background-color: rgb(14, 175, 122);
}
.btnOrange {
    background-color: orange;
}
.btnRosa {
    background-color: rgb(180, 52, 170);
}
.btnPis {
    background-color: rgb(138, 194, 65);
}