/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*GENERAL*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}
/*HEADER*/
header {
    padding: 15px;
    background-color: white;
}
header img {
    vertical-align: middle;
}
header h1 {
    display: inline;
    font-weight: 900;
    vertical-align: middle;
}
/*MAIN*/
main {
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
main div {
    padding: 20px;
}
main div a {
    background-color: rgb(34, 104, 255);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(34, 104, 255);
    margin-left: 30px;
}
.second-A {
    background-color: white;
    color: gray;
    border: 1px solid gray;
    margin-left: 3px;
}
/*SECTION*/
